SDK/
bin/*.exe
build/*.o
build/j.gb
build/j.gbs
build/j.map
resource/eve/formdefs.h
*.pag
*.edt
*.dat
*.lst
*.pst
resource/eve/eform.txt
resource/eve/etxt.h
resource/eve/itemdefs.h
source/eve/itemdefs.h
resource/ext/game.j2w
tools/toolchain/enemy.o
build/j.sym
gbs/gbs.o
*.gbs
gbs/gbs_songs.map
gbs/gbs_songs.o
gbs/gbs_songs.sym
