SDK/
bin/*.exe
build/
resource/eve/formdefs.h
*.pag
*.edt
*.dat
*.lst
*.pst
resource/eve/eform.txt
resource/eve/etxt.h
resource/eve/itemdefs.h
source/eve/itemdefs.h
resource/ext/game.j2w
tools/toolchain/enemy.o
